{% extends 'app_ecom/base.html' %}
<body>
    {% block body %}
    <style>
        .card:hover {
            transform: scale(1.05);
        }
    </style>
    <div class="container">
        <div class="container" style="margin-bottom: 20px;">
            <div class="row justify-content-end">
                <div class="col">
                    <form class="form-inline my-2 my-lg-0">
                        <div class="input-group">
                            <input class="form-control mr-2" type="search" placeholder="Search by Book name" aria-label="Search" name="book_name">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
        <div class="row">
            {% for book in books %}
            <div class="col-md-3 mb-5">
                <div class="card-deck">
                    <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); transition: transform 0.2s;">
                        <a href="{% url 'detail' book.id %}"><img src="{{ book.book_cover }}" alt="book cover" class="card-img-top" style="height: 360px;"></a>
                    </div>
                    <div class="card-body" style="margin-top: 10px;">
                        <a href="{% url 'detail' book.id %}"><h6 id="name_{{ book.id }}" class="card-title">{{ book.book_name }}</h6></a>
                        <p class="card-text">By {{ book.book_author }}</p>
                        <p class="card-text" style="margin-top: -10px; display: flex; justify-content: space-between; align-items: center;">
                            <span style="text-align: left;">
                                {{ book.book_rating }}/5 <span style="color: blue;">({{ book.book_rating_count }})</span>
                            </span>
                            <span style="text-align: right;">
                                <span style="color: orange; padding-right: 5px;">-{{ book.discount }}%</span> 
                                <span style="text-decoration: line-through; padding-right: 5px;">{{ book.mrp }}</span>
                                <span>₹</span><span id="price_{{ book.id }}" style="color: green; margin-right: 0%;">{{ book.selling_price }}</span>
                            </span>
                        </p>
                        <div class="button-group" style="display: flex; gap: 5px;">
                            <button type="button" class="btn add_to_cart btn-outline-warning" id="{{ book.id }}">Add to <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                            </span></button>
                            <a href="{% url 'checkout' %}"><button type="button" class="btn btn-outline-success">Buy Now</button></a>
                            <a href="{% url 'detail' book.id %}"><button type="button" class="btn btn-outline-secondary">More..</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        {% if is_paginated %}
        <nav aria-level="page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page_num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
                    <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    {% endblock %}
</body>